@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="header">
        <div class="info">
            <div>
                <img src="~/images/shippingIcon.png" />
                <div>
                    <h5>Free Shipping</h5>
                    <p>Lorem ipsum....</p>
                </div>
            </div>
            <div>
                <img src="~/images/deliveryIcon.png" />
                <div>
                    <h5>Fast delivery</h5>
                    <p>Lorem ipsum....</p>
                </div>
            </div>
            <div>
                <img src="~/images/creditcardIcon.png" />
                <div>
                    <h5>Secure payment</h5>
                    <p>Lorem ipsum....</p>
                </div>
            </div>
        </div>
    </section>

    <section class="categories">
        <div class="vegetables">
            <h4>VEGETABLE</h4>
            <h2>GREEN FOOD</h2>
            <p>Lorem Ipsum</p>
            <a href="#">Vegetables</a>
            <img src="~/images/salat.png" />
        </div>

        <div class="fruits">
            <h4>FRUIT</h4>
            <h2>HEALTHY FOOD</h2>
            <p>Lorem Ipsum</p>
            <a href="#">Fruits</a>
            <img src="~/images/jordbær.png" />
        </div>

    </section>

    <section class="bottom">
        <h2>Organic fresh fruit & vegetables for your health</h2>
        
    </section>
</div>
