body {
    background-color: $colorBrown;
    padding: 0;
    max-width: 100%;
    margin: 0;
    a {
        color: $colorWhite;
    }
}

.page {
    width: 100%;
    padding: 0;
    margin: 0;

    .header {
        background: top no-repeat;
        background-size: cover;
        background-image: url('/images/headerImg.png');
        height: calc(100vh - 195px);
        width: 100%;
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: center;

        .info {
            width: calc(100% - 320px);
            height: 150px;
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            background-color: $colorWhite;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-items: center;
            align-content: space-evenly;
        }
    }

    .bottom {
        background-image: url('/images/bundFrugt.png');
        background: center no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: center;

        
    }
}