<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interdisciplinary</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="textHook">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <nav>
            <div class="logo">
                <img src="images/carrot.svg" alt="">
            </div>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Hjem</a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Index">Producenter</a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Index">Kategorier</a>
                </li>
                <li>
                    <a asp-controller="Food" asp-action="Index">Fødevarer</a>
                </li>
            </ul>
            <div class="navIcons">
                <img src="images/loupe.svg" alt="">
                <img src="images/shopping-basket.svg" alt="">
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footerLogo">
            <img src="images/carrot.svg" alt="">
        </div>
        <div class="footerAddress">
            <h3>Contact</h3>
            <p>Name A/S</p>
            <p>ErhvervsAkademi Aarhus</p>
            <p>8000 Aarhus</p>
            <div class="flex">
                <p>E-mail:</p>
                <a href="mailto:sayhello@name.com">sayhello@name.com</a>
            </div>
            <div class="flex">
                <p>Tlf:</p>
                <a href="tel:12345678">12345678</a>
            </div>
        </div>
        <div class="footerMenu">
            <h3>Menu</h3>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Hjem</a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Index">Producenter</a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Index">Kategorier</a>
                </li>
                <li>
                    <a asp-controller="Food" asp-action="Index">Fødevarer</a>
                </li>
            </ul>
        </div>
        <div class="footerPrice">
            <img src="images/boersen-gazelle-2017.png" alt="">
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
