<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interdisciplinary</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Hjem</a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Index">Producenter</a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Index">Kategorier</a>
                </li>
                <li>
                    <a asp-controller="Food" asp-action="Index">Fødevarer</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
