@model Interdisciplinary.Models.Food

<div class="product" data-category="@Html.DisplayFor(model => model.CategoryID)">
    <div class="image">
        <img src="~/uploaded-images/@Html.DisplayFor(model => model.Picture)" alt="Alternate Text" />
    </div>
    <h5>
        @Html.DisplayFor(model => model.Title)

    </h5>
    <p>
        @Html.DisplayFor(model => model.Price) DKK / stk. 
    </p>
</div>
