* {
    font-family: $font-fam;
    padding: 0;
    margin: 0;
}
.grid-container {
    max-width: 1400px;
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#page {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;

}