@model Interdisciplinary.Models.Food

@{
    ViewData["Title"] = "Edit";
}

<header class="top-header">
    <h1>
        REDIGER ET PRODUKT
    </h1>
</header>
<div class="form-wrapper">
    <div class="row">
        <div class="form">
            <div class="form-wrap">
                <h2>Edit Product</h2>
                <hr />
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="FoodID" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture" class="control-label"></label>
                        <input asp-for="Picture" class="form-control" />
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryID" class="control-label"></label>
                        <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserID" class="control-label"></label>
                        <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                        <span asp-validation-for="UserID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="create-image">

            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
